@import "../../../assets/scss/app.scss";

.toggle {
  display: flex;
  width: 40px;
  padding: 2px 0px 2px 3px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  border-radius: 100px;
  background: var(--#{$prefix}gray-400);
  &:hover {
    background: var(--#{$prefix}gray-700);
  }
  &.checked {
    background-color: var(--#{$prefix}gray-700);
    padding: 2px 3px;
    .circle {
      transform: translateX(20px);
      background-color: var(--#{$prefix}gray-0);
    }
  }

  .circle {
    width: 16px;
    height: 16px;
    border-radius: 40px;
    background: var(--#{$prefix}gray-0);
  }
}
